<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Schedule View</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
<div align="center">
    <button onclick="location.href='/schedule'" type="button">
        Back</button>
    <h1>Schedule View</h1>
    <br/><br/>
    <table>
        <thead>
        <tr>
            <th>Student</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="studentSchedule : ${studentScheduleList}">
            <td th:text="${studentSchedule.student.name}">Student</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>