<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>School Management System</title>
</head>
<body>
<div align="center">
    <h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout" />
    </form>
    <h1>School Management System</h1>
    <button onclick="location.href='/schedule'" type="button">
        Enroll Student</button>
    <button onclick="location.href='/lecturer'" type="button">
        Lecturer</button>
</div>
</body>
</html>